<div class="row">
  <div class="col-6">
    <app-dona [nombreGrafica]="nombreGrafica1"
              [doughnutChartLabels]="labelsGrafica1"
              [data]="dataGrafica1"></app-dona>
  </div>
  <div class="col-6">
    <app-dona [nombreGrafica]="nombreGrafica2"
              [doughnutChartLabels]="labelsGrafica2"
              [data]="dataGrafica2"></app-dona>
</div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona [nombreGrafica]="nombreGrafica3"
              [doughnutChartLabels]="labelsGrafica3"
              [data]="dataGrafica3"></app-dona>
  </div>
  <div class="col-6">
    <app-dona [nombreGrafica]="nombreGrafica4"
              [doughnutChartLabels]="labelsGrafica4"
              [data]="dataGrafica4"></app-dona>
</div>
</div>
